<%- include('../partials/head', {title: "View Habit - Little Steps"}); %>
<body class="preload">
	<div class="container container-large">
		<!-- <h1 class="title">View Habit</h1> -->
		<%- include('../partials/titlebar', { page: 'view-habit' }); %>
		<main class="main-contents">
			<%- include('../partials/flash') %>
			<article class="habit-card">
				<div class="card-contents">
					<div class="habit-created-date">
						Created on <%= habit.prettyStartDate %>
					</div>
					<h2 class="habit-title"><%= habit.title %></h2>
					<div class="habit-info" id="habit-frequency">
						<span class="habit-label">Desired frequency: </span>
						<%= habit.frequency %>
					</div>
					<div class="habit-info" id="habit-purpose">
						<span class="habit-label">Purpose:</span>
						<%= habit.purpose.length ? habit.purpose : "Not available" %>
					</div>
					<div class="habit-highlight">
						<img src="/media/icon-status-green.svg" />
						<span class="highlight-text">On track</span>
					</div>
					<div class="habit-highlight">
						<img src="/media/icon-flame.svg" />
						<span>7 days</span>
					</div>
					<div class="habit-highlight">
						<img src="/media/icon-calendar.svg" />
						<span>Just completed yesterday</span>
					</div>
					<div class="habit-history-container">
						<div class="habit-label">Last 30 days</div>
						<div class="habit-history">
							<% for (let i = 0; i < 30; i++) { if (i % 3 === 0) { %>
							<img src="/media/icon-habit-missed.svg" alt="" />
							<% } else { %>
							<img src="/media/icon-habit-completed.svg" alt="" />
							<% } } %>
						</div>
					</div>
				</div>
				<button class="large-button">Track Habit</button>
			</article>
		</main>
	</div>
	<%- include('../partials/footer'); %>
</body>
